*{
margin: 0;
padding: 0;

}

body {
 margin:0;
}
.image-people3{
 background-image: url('../images/people3.jpg')
  background-repeat: no-repeat;
  background-position:center;
  background-size:cover;
  height: 300x;
  width:400px;
  background-size:cover;
  bacground-align:center;
}


h1 {
    font-family: 'inherit', cursive;
    text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;
    font-size:4.8em;
    text-align:center;
}
h2{
 color:rgb(8, 65, 65);
  text-align: center;

}


